<div class="row">
    <div class="col-2"> </div>
    <div class="col-8">
      <div *ngIf="bugListExist();else no_data">
  
        <button type="button" class="btn btn-secondary pull-left -caret-square-o-left margin:auto" (click)="createNewBug()"> Report Bug </button>
  
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Priority</th>
              <th scope="col">Reporter</th>
              <th scope="col">Date Created</th>
              <th scope="col">Status</th>
              <th scope="col" ></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let bug of bugs">
              <td>{{bug.title}}</td>
              <td>{{bug.priority}}</td>
              <td>{{bug.reporter}}</td>
              <td>{{bug.createdAt | date:'d/M/yy, h:mm a' }}</td>
              <td>{{bug.status}}</td>
              <td> <button class="btn btn-info btn-sm" (click)="editBug(bug.id)"> Edit <i class="fa fa-edit" aria-hidden="true"></i></button></td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <ng-template #no_data>
        <div class="d-flex justify-content-center">
          <div>
            <img src="assets/bug-spinner.gif"  alt="bug-spinner" id="bug-spinner" >
            <p > Please wait </p>
          </div>
        </div>
      </ng-template>
    </div>
    <div class="col-2"></div>
  </div>
  